/*
  Student Name: Davine Mungai
	File Name: index.html
	Date: 5/20/2022 
*/

/* CSS reset */
body,
header,
nav,
main,
footer,
img,
h1,
h3,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and images */
body {
    background-image: linear-gradient(to right, #20a6cf, #3ccc48);
}

img {
    width: 100%;
}

/* Styles for Mobile Layout as the: Note it is the default a layeout of
the page if no media quarie is applied */

iframe, video{
    border-radius: 10px;
    margin-top: 2.5em;
    margin-bottom: 2em;
    width: 100%;
    height: 280px;

    /*to center the contents*/
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* Style rule for the header */
header {
    padding: 2%;
    color: #110934;
    text-align: center;
}


/* Style rules for logo*/
.logo {
    display: none;
}

/* Style rules for navigation area */


nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    border: 1px solid #110934;
    margin: 1%;
    background-color: #29157e;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav li a:hover {
    color: #24107c;
    background-color: #3226d3;
}



/* Style rules for the main content  */
main {
    display: block;
    font-family: 'Cantarell', sans-serif;
    font-size: 1em;
    color:#000000;
    padding: 1em;
}

main h1 {
    font-size: 4em;
    text-decoration: underline dotted #04465a;
}

main h2 {
    font-size: 2em;
    text-decoration: underline dashed #33125e;
    font-family: 'Syne Mono', monospace;
    text-shadow: 2px 2px 8px #12c046;
}


a {
    text-decoration: none;
    color:rgb(16, 224, 27);
}

a:hover {
    color: #065343;
}
/* Style rule for footer */
footer {
    font-size: 1.2em;
    text-align: center;
    margin-top: 0em;
    background-color:rgb(12, 113, 160);
    color: rgb(255, 255, 255);

    /*make it stay centered*/
    display: inline-block;
    position: relative;
    width: 100%;
    
    
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 488px),
print {

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        display: inline-block;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    nav li a {
        padding: 0.1em 1em;
    }

    nav li a:hover {
        color: #4424d6;
        background-color: #e5e0fa;
    }

    
    iframe {
        border-radius: 10px;
        height: 500px;
        width: 900px;
        
    }

    /* Style rules for the main content  */
    main h1{
        text-align: center;
    }
    main h2 {
        margin-top: 0;
    }

    .logo {
        display: block;
        float: left;
        margin-top: 2%;
        padding-left: 5%;
        width: 100px;
    }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px),
print {

    /* Desktop Viewport: Style rules for header */
    header h1 {
        padding-top:2%;
        float: center;
    }

    /* Desktop Viewport: Style rules for nav */

    nav li a {
        display: inline-block;
        padding: 0.7em;
        text-align: left;
    }

    nav li a:hover {
        color: #4424d6;
        background-color: #e5e0fa;
    }
    
    

    /* Desktop Viewport: Style rules for the main content */
    main {
        border-style: none;
        margin-bottom: 1em ;
        overflow: auto;
        /*hide x-axis scrollbar*/
        overflow-x: hidden;
    }

    main h2 {
        margin-top: 0;
        
    }

    section {
        width: 100%;
        padding: 1%;

    }

    /* Style rules for logo*/
    .logo {
        display: block;
        float: left;
        padding-left: 5%;
        width: 5%;
        height:100px;
    }


    
    

    /*Media Query for Large Desktop Viewport*/
    @media screen and (min-width: 1441px),
    print {
        #container {
            width: 1440px;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: auto;
            margin-right: auto;
        }


    }

}